</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
//     setTimeout(() => {
//   const box = document.getElementById('welcome-div');


//   box.style.display = 'none';


// }, 7000);
$("#welcome-div").fadeOut(5000);
</script>
</html>