<%- include("header") -%>

<section id="welcome-div">
  <!-- partial:index.partial.html -->
  <h1>
    System<span style="color: white"
      >.<span style="color: #e06c75">out</span>.</span
    ><span style="color: #61afef">println</span>("
  </h1>
  <div class="string">
    <!-- <h1 class="greeting en">Hello World!</h1>
    <h1 class="greeting es">I'm Cyber</h1>
    <h1 class="greeting de">CYBER</h1> -->
    <h1 class="greeting it">CYBER!!!!!</h1>
  </div>
  <h1 class="closure">");</h1>
  <!-- partial -->
</section>
<section class="welcome-text">
  <div>
    <h1>Cyber's-Tech-News-Page</h1>
    <button class="original-button"><a href="/home">HOME</a></button>
  </div>
</section>

<%- include("footer") -%>
